html {
    height: 100%;
    min-height: 100%;
}

/*Navbar Section*/

#navbar {
    display: grid;
    margin-left: 17px;
    margin-right: 17px;
    grid-template-columns: 50px 50px 1fr 50px 50px 50px 50px;
    grid-template-rows: 50px;
    grid-template-areas:
    "about store . gmail images menu sign-in";
}

a {
    text-decoration: none;
    color: #5f6368;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover {
    text-decoration: underline;
}

#about {
    grid-area: about;
    justify-self: center;
    align-self: center;
}
#store {
    grid-area: store;
    justify-self: center;
    align-self: center;
}
#gmail {
    grid-area: gmail;
    justify-self: center;
    align-self: center;
}
#images {
    grid-area: images;
    justify-self: center;
    align-self: center;
}
#menu {
    grid-area: menu;
    justify-self: center;
    align-self: center;
    margin-right: 10px;
}
#sign-in {
    grid-area: sign-in;
    justify-self: center;
    align-self: center;
    text-align: center;
    border-color: 1px solid #4285f4;
    color: #fff;
    background-color:  #4285f4;
    height: 30px;
    width: 63px;
    font-weight: bold;
    display: inline-block;
    line-height: 28px;
    border-radius: 2px;
}

/*Main Section*/

#main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 70px 70px 250px;
    grid-template-areas:
    ". logo ."
    ". search ."
    ". flexbox .";

}
#logo {
    grid-area: logo;
    justify-self: center;
    align-self: end;
}
#search {
    grid-area: search;
    height: 42px;
    width: 580px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    align-self: center;
    justify-self: center;
}
#search:hover {
    box-shadow: 1px 1px 5px grey;
}
#search:focus {
    box-shadow: 1px 1px 5px grey;
}

#flexbox {
    display: flexbox;
    grid-area: flexbox;
    justify-self: center;
    align-self: center;
}
#google-search-btn {
    grid-area: google-search-btn;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-size: 14px;
    justify-self: space-evenly;
    align-self: center;
}
#google-search-btn:hover {
    border: 1px solid #c6c6c6;
    color: #222;
}
#random-search-btn {
    grid-area: random-search-btn;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-size: 14px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    justify-self: space-evenly;
    align-self: center;
}
#random-search-btn:hover {
    border: 1px solid #c6c6c6;
    color: #222
}

/*Footer Section*/

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    background-color: #f2f2f2;
    grid-template-columns: 80px 80px 130px 1fr 60px 60px 60px;
    grid-template-rows: 50px;
    grid-template-areas:
    "advertising business how-search-works . privacy terms settings";
}
#advertising {
    grid-area: advertising;
    justify-self: right;
    align-self: center;
}
#business {
    grid-area: business;
    justify-self: right;
    align-self: center;
}
#how-search-works {
    grid-area: how-search-works;
    justify-self: right;
    align-self: center;
}
#privacy {
    grid-area: privacy;
    justify-self: left;
    align-self: center;
}
#terms {
    grid-area: terms;
    justify-self: left;
    align-self: center;
}
#settings {
    grid-area: settings;
    justify-self: left;
    align-self: center;
}

